<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Aniadir Persona</h1>
            <form id="formulario" action="/api/aniadir/" method="GET">
                <div class="form-row">
                    <div class="form-group">
                        <label for="user">User </label>
                        <input type="text" name="user" class="form-control" id="user"
                            placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="name">Nombre </label>
                        <input type="text" name="name" class="form-control" id="name"
                            placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="surname">Apellidos </label>
                        <input type="text" name="surname" class="form-control" id="surname"
                            placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="reset" class="btn btn-primary">Limpiar</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>